.enjoy {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding: 8px 0 7px;
    background-color: #5A6D57;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.07em;
	text-align: center;
	color: white;
	z-index: 1001;

	p{
		margin-bottom: 0;
	}
}
