.logIn {
    margin: 20px;
}

.logIn .container {
    height: 100%;
    
}

.register__img {
    width: 600px;
    height: 837px;
    background-image: url('../img/register/Frame\ 26086866.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 992px) {
        height: 360px;
        width: 100%;
        
        background-position: center;
        background-size: cover;
    }
}

.logIn__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.logIn__logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 392px;
}

.logIn__title {
    font-weight: 600;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    padding: 70px 0 32px 0;
    margin: 0;

    @media (max-width: 992px) {
        font-weight: 700;
        font-size: 22px;
        padding: 28px 0 32px 0 ;
    }
}

.logIn__input {
    border: none;
    outline: 1px solid rgba(96, 96, 96, 1);
    width: 100%;
    padding: 16px 9px;
    height: 100%;
    box-sizing: border-box;
}

.logIn__input:focus-visible {
    outline: 2px solid rgba(90, 90, 90, 1);
    border-radius: 0;
}

.logIn__label {
    width: 100%;
    height: 40px;
    
}

.logIn__list {
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logIn__btn {
    height: 40px;
    color: white;
    background-color: #5a6d57;
    border: none;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin-top: 4зч 0 0 0;
}

.logIn__btn:hover {
    background-color: #404e3e;
    cursor: pointer;
}

.logIn__log_in {
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    align-self: center;
    padding: 0;
}

.logIn__beneath_text {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.logIn__log_in_ways {
    display: flex;
    height: 205px;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 0;
}

.logIn__or {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 24px 0;
}

.logIn__social_ways {
    height: 35px;
    display: flex;
    justify-content: space-between;
    width: 139px;
    align-self: center;
    padding: 0;
    margin-bottom: 10px;
}

.logIn__social_icons {
    font-size: 35px;
}

.logIn__NTD {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}

.logIn__NTD-link {
    color: #748C70;
}

.log_in {
    color: #748C70;
    text-decoration: none;
}

.log_in:hover {
    color: #404e3e;
}

.logIn__social_link {
    text-decoration: none;
    border-radius: 50%;
}


.logIn__social_link:hover {
    filter: brightness(0.5);
}

.logIn__fp {
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    margin: 8px 0 18px 0;
}

.logIn__fp-link {
    color: #748C70;
    text-decoration: none;
}

.logIn__fp-link:hover {
    color: #404e3e;
}