.mySwiper {
  width: 100%;
  overflow: visible;
}

.modiweek{ 
  margin-bottom: 60px;
}

.swiper-button-next{
  top: 40% !important;
  color: white;
}

.swiper-button-prev{
  top: 40% !important;
color: white;
}

.p-modi{
  //styleName: H3;
font-family: Montserrat;
font-size: 32px;
font-weight: 600;
line-height: 44.8px;
margin-top: 88px;
margin-bottom: 24px;
}

.p-slider{
  //styleName: H6;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 22.4px;
text-align: left;
margin-top: 38px;
}

.swiper2{
  display: none;
}

@media (max-width: 991px) {
.swiper-container{
  width: 100% !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.photo-slider{
  width: 100%;
  object-fit: cover;
}

.swiper-slide{
  width: 33% !important;
}
}

@media (max-width: 441px) {
  .swiper-slide{
    width: 50% !important;
  }
  .photo-slider{
    width: 100%;
  }
  }