.sustainability {
    height: 526px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('/img/sustainability/Cotton_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sustainability__text {
    width: 500px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    left: 54%;
    top: 67%;
}

.sustainability__btn {
    border: none;
    padding: 8px 44px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left: 78%;
    top: 70%;
    font-size: 14px;
    background-color: white;
}

.sustainability__btn:hover {
    background-color: #d2d2d2;
}