.footer {
    
    background-color: #404040;
    width: 1920px;
    height: 417px;
    position: flex; 
    

}

.footerGetEmailTitle {

    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;

}


.footerGetEmailInput {

    height: 40px;
    width: 496px;
    padding-left: 15px;
    border: solid ;
    
}

