.container{
    width: 1224px;
    padding: 0 15px;
    margin: 0px auto;
}
body{
    margin: 0 auto;
}
@import "./sections/header";
@import "./sections/enjoy";
@import "./sections/hero";
@import "./untills/color";
@import "./sections/best";
@import "./sections/collection";
@import "./sections/followUs";
@import "./sections/footer";
@import "./sections/modiweek";
@import "./sections/sustainability;