.container{
    width: 1224px;
    margin: 0px auto;
}
   * {
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Montserrat';
    margin: 0;
    overflow-x: hidden;
  }

  ul {
    list-style: none;
    padding: 0;
  }

@import'../../node_modules/swiper/swiper-bundle.min.css';
@import "./sections/header";
@import "./sections/bestsellers.scss";
@import "./sections/collection-gallery.scss";
@import "./sections/enjoy";
@import "./sections/collection";
@import "./sections/followUs";
@import "./sections/footer";
@import "./sections/modiweek";
@import "./sections/sustainability";
@import "./sections/best";
@import "./sections/hero";
@import "./modals/collection_menu";
@import "./modals/plus_menu";
@import "untills/color";
@import "./modals/new-in_menu";
@import "./sections/register";
@import "./modals/sust_menu";
@import "./sections/product/shop-all";
@import "./sections/product/product_modiweek.scss";
