.collection-menu {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  padding-top: 34px;
  
     &.visible {
    display: block; 
  }
  .hidden {
  display: none; 
}
  .container {
    display: flex;
    justify-content: space-between;
  }

  .collection-menu_wrap {
    display: flex;
    width: 100%;

    .collection {
      margin-right: 40px;
      min-width: 190px;

      .collection-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 32.4px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
        color: var(--neutral-gray0c0c0c);

        &:hover {
          color: var(--primary-primary900);
          font-weight: 500;
          font-size: 20px;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 8px;

          a {
            text-decoration: none;
            color: var(--neutral-gray404040);
            font-size: 18px;
            transition: color 0.3s ease;
            font-weight: 400;
            line-height: 32.4px;

            &:hover {
              color: var(--neutral-gray868686);
            }
          }
        }
      }
    }

    .category,
    .featured,
    .more {
      font-size: 20px;
      font-weight: 600;
      color: #222;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-self: start;
    }
    .more {
      
      min-width: 155px;
    }
    .featured {
      min-width: 100px;
      margin-right: 90px;
    }
    .category-list,
    .featured-list,
    .more-list {
      .collection-link {
        font-size: 16px;
        font-weight: 400;
        color: #333;

        &:hover {
          color: #888;
        }
      }
    }

    .collection-menu_wrap {
      display: flex;
      justify-content: flex-end;
      gap: 24px;

      .figure {
        margin-bottom: 30px;

        .collection-menu-img {
          width: 288px;
          height: auto;

          &.collection-menu-img_women-one,
          &.collection-menu-img_women-two {
            margin-bottom: 10px;
          }
        }

        .sub-text {
          font-size: 16px;
          font-weight: 500;
          color: #333;
        }
      }
    }
  }
}
.collection-menu {
  position: absolute;
  top: -100%; 
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out; 
  opacity: 0; 
  visibility: hidden; 
}


.collection-menu.visible {
  top: 110px; 
  opacity: 1;
  visibility: visible;

}


.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px); 
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 999; 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out; 
}


.blur-background.active {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1399px) {
 .collection-menu-img{
  width: 240px !important;
 }
	}
@media (max-width: 1199px) {
  .collection-menu-img{
  width: 208px !important;
 }
 .collection-menu_wrap{
  gap: 15px !important;

  .category{
    margin-right: 10px !important;
  }
  .featured{
    margin-right: 10px !important;
  }
  .more{
    margin-right: 0 !important;
  }
 }
	}
  @media (max-width: 992px) {

  .collection-menu-img{
  width: 170px !important;
 }
 .collection-menu_wrap{
  gap: 5px !important;

  .category{
    margin-right: 0 !important;
    min-width: 140px !important;
  }
  .featured{
    margin-right: 0 !important;
    min-width: 85px !important;
  }
  .more{
    margin-right: 0 !important;
    min-width: 115px !important;
  }
 }
	}