<section class="sustainability-mat">
    <div class="container">
        <div class="patch-title">
            <p class="home">Home</p>
            <p>/</p>
            <p class="home">Sustainability</p>
            <p>/</p>
            <p>Materials</p>
        </div>
        <h3 class="sust-title">Sustainably sourced materials</h3>
        <div class="sust-text-block">
            <p>At Modimal, we believe in investing in the now to design for the future. That’s why we are committed to
                sourcing quality materials that will have less impact on the environment.</p>
            <p>So far in 2022, 92% of the base fabrics in our collection are more sustainably sourced. Our goal is to
                use only 100% sustainably sourced materials by 2025.</p>
            <p>There are five kinds of fabrics in our collections that are Organic and responsibly sourced, and we
                highlight these so you can make considered choices when you shop.</p>
        </div>
        <div class="sust-wrapper">
        <div class="sust-product">
            <div class="name-wrapper">
                <h2 class="name-img">Cotton</h2>
            </div>
            <img src="img/sustainbility/Cotton.png" alt="Cotton" class="sust-image-one" id="ones">
            <div class="product__details">
                <h2 class="name">Cotton</h2>
                <p>We source certified organic cotton, which is grown without the use of pesticides or synthetic
                    fertilizers...<span class="more-text" style="display: none;">and requires less irrigation as it relies
                        mainly on rainwater. Avoiding harmful pesticides preserves soil biodiversity and protects the health of
                        surrounding communities. Our organic cotton fabrics are made using organic cotton yarns that are
                        certified by the Global Organic Textile Standard (GOTS).</span></p>
                <span class="read-more-btn" onclick="toggleText(this)">Read More ></span>
            </div>
        </div>
        
        <div class="sust-product">
            <div class="product__details">
                <h2 class="name">Wool</h2>
                <p>Wool is a natural fiber with added performance attributes such as temperature regulation...<span
                        class="more-text" style="display: none;">durability, and natural water repellency. Considered a circular
                        product by nature, wool can be recycled or biodegraded easily. Animal welfare is extremely important to
                        us, and therefore we only source mulesing-free wool from producers that follow humane and eco-friendly
                        processes aligned with our animal welfare guidelines.</span></p>
                <span class="read-more-btn" onclick="toggleText(this)">Read More ></span>
            </div>
            <div class="name-wrapper">
                <h2 class="name-img">Wool</h2>
            </div>
            <img src="img/sustainbility/Wool.png" alt="Wool" class="sust-image-two" id="twos">
        </div>
        
        <div class="sust-product">
            <div class="name-wrapper">
                <h2 class="name-img">Linen</h2>
            </div>
            <img src="img/sustainbility/Linen.png" alt="Linen" class="sust-image-three" id="three">
            <div class="product__details">
                <h2 class="name">Linen</h2>
                <p>Found throughout our collections, linen is a sustainable fiber made from the flax plant...<span
                        class="more-text" style="display: none;">Flax is naturally pest resistant that requires less pesticides,
                        water and energy to produce compared to cotton and polyester. Flax aids in sequestering carbon into the
                        soil, which removes carbon dioxide from the atmosphere and is beneficial for improving soil
                        health.</span></p>
                <span class="read-more-btn" onclick="toggleText(this)">Read More ></span>
            </div>
        </div>
        
        <div class="sust-product">
            <div class="product__details">
                <h2 class="name">Silk</h2>
                <p>Organic silk is a more responsible alternative to making conventional silk...<span class="more-text"
                        style="display: none;">The silkworms are fed mulberry tree leaves from organic agriculture that uses no
                        pesticides or harmful chemicals, resulting in a lustrous fabric that is gentle on both you and the
                        environment. This responsibly sourced material epitomizes our dedication to creating exquisite clothing
                        with a conscience.</span></p>
                <span class="read-more-btn" onclick="toggleText(this)">Read More ></span>
            </div>
            <div class="name-wrapper">
                <h2 class="name-img">Silk</h2>
            </div>
            <img src="img/sustainbility/Silk.png" alt="Silk" class="sust-image-four" id="fours">
        </div>
        
        <div class="sust-product">
            <div class="name-wrapper">
            <h2 class="name-img">Cashmere</h2>
            </div>
            <img src="img/sustainbility/Cashmere.png" alt="Cashmere" class="sust-image-five" id="fives">
            <div class="product__details">
                <h2 class="name">Cashmere</h2>
                <p>We’re proud to source our cashmere through the Good Cashmere Standard by the Aid by Trade Foundation
                    (AbTF)...<span class="more-text" style="display: none;">This independent standard works to source traceable,
                        sustainably certified cashmere that cares for the wellbeing of cashmere goats, protects the environment
                        and supports the herders that produce it.</span></p>
                <span class="read-more-btn" onclick="toggleText(this)">Read More ></span>
            </div>
        </div>
        </div>
        <p class="summary">we are continually exploring more sustainable alternatives that offer the same quality and performance. we will soon add
        new fabrics in to our collections which are recycling and repurposing. By giving a new life to leftover fabrics through
        recycling and repurposing, we can reduce our demand on the planet’s limited natural resources. Recycled fabrics are made
        using the waste from both the pre- and post-consumer stage of a product’s life.</p>

        <p class="report">We track our material usage as part of the Textile Exchange’s Corporate Fibers and Materials
            Benchmark. View our latest report <a href="" class="report-link">here</a>.</p>
    </div>
</section>