.register {
    height: 837px;
    padding-top: 31px;
    margin-bottom: 48px;
}

.register .container {
    height: 100%;
    
}

.register__wrap {
    display: flex;
    justify-content: space-between;
}

.register__account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__title {
    font-weight: 600;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    padding: 121px 0 32px 0;
    margin: 0;
}

.register__input {
    border: none;
    outline: 1px solid rgba(96, 96, 96, 1);
    width: 100%;
    padding: 16px 9px;
    height: 100%;
    box-sizing: border-box;
}

.register__input:focus-visible {
    outline: 2px solid rgba(90, 90, 90, 1);
    border-radius: 0;
}

.register__label {
    width: 100%;
    height: 40px;
    
}

.register__account {
    width: 392px;
}

.list {
    width: 100%;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register__btn {
    height: 40px;
    color: white;
    background-color: #5a6d57;
    border: none;
    
    font-weight: 400;
    font-size: 14px;
    margin-top: 4px;
}

.register__log_in {
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    
}

.register__under_btn {
    margin-top: 10px;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.register__log_in_ways {
    display: flex;
    
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.or {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}