.sustainability-mat {
    font-family: 'Montserrat', sans-serif;

    .sust-title {
        margin-top: 32px;
        font-weight: 600;
        font-size: 32px;
        letter-spacing: 140%;
    }

    .sust-text-block {
        margin-top: 32px;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 180%;
        margin-bottom: 50px;
        

        p {
            text-align: left;
            margin: 0;
        }
    }

    .sust-product {
        margin-bottom: 24px;
        display: flex;
        align-items: center;

        &:first-of-type {
            margin-top: 48px;
        }

        

        .product__details {
            margin-left: 24px;

            .name {
                font-weight: 700;
                font-size: 24px;
                letter-spacing: 140%;
            }

            p {
                margin-top: 16px;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 180%;
                text-align: left;
            }
        }
    }

    .summary, .report {
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 180%;
    }

    .summary {
        margin-top: 68px;
    }

    .report {
        margin: 48px 0;

        .report-link {
            color: #748C70;
            text-decoration: none;
        }
    }
}

.sust-image-one{
width: 392px;
height: 359px;
}
.sust-image-two{
width: 496px;
height: 330px;
}
.sust-image-three{
width: 496px;
height: 408px;
}
.sust-image-four{
width: 496px;
height: 408px;
}
.sust-image-five{
width: 392px;
height: 432px;
}
  .name-wrapper{
    display: none;
  }
@media (min-width: 992px) {
    .product__details p {
        max-height: none; //
        overflow: visible; 
    }
    .more-text{
        display: block !important;
    }
    .read-more-btn {
        display: none;
    }
}


@media (max-width: 992px) {
    .sust-product {
        display: block;
    }

    .product__details {
        margin-left: 0;
    }

    .sust-image-one,
    .sust-image-two,
    .sust-image-three,
    .sust-image-four,
    .sust-image-five {
        width: 50%;
        height: auto;
    }

    .report {
        max-height: 100px;
        overflow: hidden;
        position: relative;
    }

    .read-more-btn {
        display: inline-block;
        margin-top: 16px;
        font-weight: 500;
        font-size: 16px;
        color: #748C70;
        cursor: pointer;
    }
}


@media (max-width: 768px) {
    .sust-product {
        display: flex;
        flex-direction: column;
    }

    .sust-product img {
        margin: 0 auto;
        order: -2;
    }
    .sustainability-mat{
        .sust-product {
            align-items: start;
    }
    }

    .sust-wrapper{
        display: flex;
        flex-direction: column;
    }
    .product__details {
        margin: 0 auto;
        text-align: left;
    }

.sust-image-one,
    .sust-image-two,
    .sust-image-three,
    .sust-image-four,
    .sust-image-five {
        width: 100%;
        height: auto;
    }
    .report {
        max-height: 100px;
        overflow: hidden;
        position: relative;
    }
    .name{
        display: none;
    }
    .read-more-btn {
        display: inline-block;
        margin-top: 16px;
        font-weight: 500;
        font-size: 16px;
        color: #748C70;
        cursor: pointer;
    }
    .name-img{
        font-weight: 600;
        font-size: 20px ;
        text-align: left;
    }
    .name-wrapper{
        order: -4;
        display: block;
    }
    .product__details p {
        margin-top: 40px !important;
    }

    .sust-product img {
        margin-top: 16px;
    }
}

