<section class="cart-section">
<div class="cart-container container">
    <div class="cart-header">
        <div class="cart-flex">
            <button class="back-btn">Back</button>
            <h1 class="your-card">Your Cart</h1>
        </div>
        <button class="continue-shopping">Continue Shopping</button>
    </div>
    <p class="order-item">Order Summary</p>
    <div class="cart-itemss">
        <div class="cart-grid">
            <div class="cart-item">
                <img src="img/main/Rectangle 123.svg" alt="Wrap Top" class="item-img">
                <div class="item-details">
                    <div class="close-cart">
                        <p class="wrap-top">Wrap Top</p>
                        <button class="remove-btn butt-rem">&times;</button>
                    </div>
                    <p class="p-top">Size: S</p>
                    <p class="p-top">Color: White</p>
                </div>
            </div>
            <div class="cart-item">
                <img src="img/main/Rectangle 124.svg" alt="Casual Wild Leg" class="item-img">
                <div class="item-details">
                    <div class="close-cart">
                        <p class="wrap-top">Casual Wild Leg</p>
                        <button class="remove-btn butt-rem">&times;</button>
                    </div>
                    <p class="p-top">Size: S</p>
                    <p class="p-top">Color: Dark Blue</p>
                </div>
            </div>
            <div class="cart-item">
                <img src="img/main/Rectangle 123.svg" alt="Essential Dress" class="item-img">
                <div class="item-details">
                    <div class="close-cart">
                        <p class="wrap-top">Essential Dress</p>
                        <button class="remove-btn butt-rem">&times;</button>
                    </div>
                    <p class="p-top">Size: 2X</p>
                    <p class="p-top">Color: Black</p>
                </div>
            </div>
        </div>
        <div class="cart-grid">
            <div class="item-cart">
                <p class="price-card">160$</p>
            <div class="item-quantity">
                <button class="decrease">-</button>
                <span class="quantity">1</span>
                <button class="increase">+</button>
            </div>
            <p class="price-card">160$</p>
        </div>
        <div class="item-cart">
            <p class="price-card">160$</p>
        <div class="item-quantity">
            <button class="decrease">-</button>
            <span class="quantity">1</span>
            <button class="increase">+</button>
        </div>
        <p class="price-card">160$</p>
    </div>
    <div class="item-cart">
        <p class="price-card">160$</p>
    <div class="item-quantity">
        <button class="decrease">-</button>
        <span class="quantity">1</span>
        <button class="increase">+</button>
    </div>
    <p class="price-card">160$</p>
</div>
            <div class="cart-summary">
                <div class="summary-details">
                    <div class="item-cart ite-cart">
                    <p class="p-cart">Subtotal (3):</p>
                    <p class="p-cart">$485.00</p>
                    </div>
                    <div class="item-cart ite-cart">
                    <p class="p-cart">Tax: </p>
                    <p class="p-cart">$38.80</p>
                    </div>
                    <div class="item-cart ite-cart">
                    <p class="p-cart">Shipping:</p>
                    <p class="p-cart">Free</p>
                    </div>
                    <div class="item-cart ite-cart">
                    <p class="p-cart">Total Orders:</p>
                    <p class="p-cart">$523.80</p>
                    </div>
                    <p class="cart-com"></p>
                </div>
               <a href="cart-info.html"> <button class="checkout-btn">Next</button> </a>
            </div>
        </div>
    </div>
</section>