
<div class="checkout-container cart-container container cart-itemss">


    <!-- Billing Address Section -->
        <div class="billing-section">
            <nav class="breadcrumb">
                <a href="#">Cart</a> / <span>Info</span> / <a href="cart-shipping.html">Shipping</a> /
                <a class="info-black" href="#">Payment</a>
            </nav>
            <h2>Billing Address</h2>
            <label class="default-address">
                <input class="inp-textt" type="checkbox" checked>
               <p class="inp-textt"> Default (Same As Billing Address)</p>
            </label>
            <label class="alternative-address">
                <input type="checkbox">
                <p class="inp-textt"> Add An Alternative Delivery Address </p>
            </label>

            <form class="billing-form">
                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Name">
                </div>

                <div class="form-group">
                    <input type="email" class="form-input" placeholder="Email">
                </div>

                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Country">
                </div>

                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Address Line1">
                </div>

                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Address Line2">
                </div>

                <div class="form-group">
                    <input type="text" class="form-input" placeholder="City / Suburb">
                </div>

                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Zip / Postcode">
                </div>

                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Phone">
                </div>
            </form>
        </div>

        <!-- Payment Section -->
        <div class="payment-section">
            <h2>Payment</h2>
            <p class="inp-textt">Please Choose Your Payment Method</p>
            <div class="payment-methods">
                <img src="img/main/Amex.svg" alt="American Express">
                <img src="img/main/visa-logo.svg" alt="Visa">
                <img src="img/main/Masterrcard.svg" alt="Mastercard">
                <img src="img/main/Fill 2.svg" alt="Paypal">
            </div>

            <form class="payment-form">
                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Card Number*">
                </div>

                <div class="form-group expiry">
                    <input type="text" class="form-input" placeholder="Expiry Date* (Month)">
                    <input type="text" class="form-input" placeholder="Expiry Date* (Year)">
                </div>

                <div class="form-group">
                    <input type="text" class="form-input form-code-sec" placeholder="Security Code*">
                    <a href="#" class="help-link">What Is This?</a>
                </div>

                <button class="continue-button"><a class="hreff" href="error.html" >Pay And Place Order</a></button> 
            </form>

            <p class="terms">
                by clicking on ‘pay and place order’,you agree (i) to make your purchease from global -e as marchant of record for this transaction, subject to global-e’s  term of sale;(ii) that your information will be handled by global-e in accordance with the global-e privacy policy; and (iii) that global-e will share your information (excluding the payment details)with modimal.
            </p>
        </div>
    </div>


