
            <section class="collection-menu ">
                <div class="container">

                    <div class="collection-menu_wrap">
                        <div class="collection category">
                            <p class="collection-title">Category</p>
                            <ul class="category-list">
                                <li class="category-item"><a href="#" class="collection-link category-link">Shop All</a>
                                </li>
                                <li class="category-item"><a href="#" class="collection-link category-link">Blouses &
                                        Tops</a></li>
                                <li class="category-item"><a href="#" class="collection-link category-link">Pants</a>
                                </li>
                                <li class="category-item"><a href="#" class="collection-link category-link">Dresses &
                                        Jumpsuits</a></li>
                                <li class="category-item"><a href="#" class="collection-link category-link">Outwear &
                                        Jackets </a></li>
                                <li class="category-item"><a href="#"
                                        class="collection-link category-link">Pullovers</a></li>
                                <li class="category-item"><a href="#" class="collection-link category-link">Tees</a>
                                </li>
                                <li class="category-item"><a href="#" class="collection-link category-link">Shorts &
                                        Skirts</a></li>
                            </ul>
                        </div>

                        <div class="collection featured">
                            <p class="collection-title">Featured </p>
                            <ul class="featured-list">
                                <li class="featured-item"><a href="#" class="collection-link featured-link">New in</a>
                                </li>
                                <li class="featured-item"><a href="#" class="collection-link featured-link">Modiweek</a>
                                </li>
                                <li class="featured-item"><a href="#" class="collection-link featured-link">Plus
                                        Size</a></li>
                                <li class="featured-item"><a href="#" class="collection-link featured-link">Best
                                        Seller</a></li>
                            </ul>
                        </div>

                        <div class="collection more">
                            <p class="collection-title">More</p>
                            <ul class="more-list">
                                <li class="more-item"><a href="#" class="collection-link more-link">Bundles</a></li>
                                <li class="more-item"><a href="#" class="collection-link more-link">Occasion Wear</a>
                                </li>
                                <li class="more-item"><a href="#" class="collection-link more-link">Matching Set</a>
                                </li>
                                <li class="more-item"><a href="#" class="collection-link more-link">Suiting</a></li>
                            </ul>
                        </div>
                        <div class="collection-menu_wrap">
                            <figure class="figure">
                                <img class="collection-menu-img collection-menu-img_women-one"
                                    src="img/modals/Women_one.png" alt="photo">
                                <figcaption>
                                    <p class="sub-text">Blouses</p>
                                </figcaption>
                            </figure>
                            <figure class="figure">
                                <img class="collection-menu-img collection-menu-img_women-two"
                                    src="img/modals/Women_two.png" alt="photo">
                                <figcaption>
                                    <p class="sub-text">Plus Size</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
            </section>