<section class="contact-uss">
<div class="container">
  <nav class="container__nav">
    <ul class="container__nav-list">
      <li class="container__nav-item"><a href="index.html" class="homee container__nav-link">Home</a></li>
      <li class="container__nav-separator"> / </li>
      <li class="container__nav-item"><a href="#" class="container__nav-link">Contact Us</a></li>
    </ul>
  </nav>
  </header>

  <main class="main-cont">
    <section class="contact-us">
      <div class="container">
        <h1 class="contact-us__title">Contact Us</h1>
        <div class="haki-container">
          <p class="contact-us__intro">
            We Always Love Hearing From Our Customers! Please Do Not Hesitate To Contact Us Should You Have Any
            Questions Regarding Our Products And Sizing Recommendations Or Inquiries About Your Current Order.
          </p>
          <p class="contact-us__intro">
            Contact Our Customer Care Team Through The Contact Form Below, Email Us At hello@modimal.com Or Live Chat
            With Us Via Our Chat Widget On The Bottom Right Hand Corner Of This Page.
          </p>
          <p class="contact-us__intro contact-us__response-time">We Will Aim To Respond To You Within 1-2 Business Days.
          </p>
        </div>
      </div>
      <div class="container chatt">
        <form action="#" method="POST" class="contact-form">
          <div class="flex-icon"><span class="material-symbols-outlined">
              mail
            </span>
            <h2 class="contact-form__title">Write Us</h2>
          </div>
          <p class="contact-form__text">Your information</p>
          <input type="text" id="name" name="name" class="contact-form__input" placeholder="Full Name" required>

          <input type="email" id="email" name="email" class="contact-form__input" placeholder="Email" required>

          <label for="subject" class="contact-form__label" aria-placeholder="Subject"></label>
          <select id="subject" name="subject" class="contact-form__select">
            <option value="product">Subject</option>
            <option value="order">Order Inquiry</option>
            <option value="other">Other</option>
          </select>

          <input type="text" id="order-number" name="order-number" class="contact-form__input"
            placeholder="Order Number">

          <input type="text" id="order-number" name="order-number" class="contact-form__input" placeholder="Message">

          <div class="contact-form__privacy">
            <input type="checkbox" id="policy" name="policy" class="contact-form__checkbox" required>
            <label for="policy" class="contact-form__checkbox-label">I Have Read And Understood The Contact Us Privacy
              And Policy.</label>
          </div>

          <button type="submit" class="contact-form__button">Send</button>
        </form>
      </div>

      <div class="chat-with container">

<button type="button" data-modal-open class="btn btn-primary button_to-chat" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <div class="flex-icon"><span class="material-symbols-outlined">
    mail
  </span>
  <h2 class="contact-form__title">Write Us</h2>
  <span class="material-symbols-outlined">
    chevron_right
  </span>
</div></button>


<div class="modal fade" data-modal id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"> <div class="flex-icon"><span class="material-symbols-outlined">
          mail
        </span>
        <h2 class="contact-form__title">Write Us</h2></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
        <form action="#" method="POST" class="contact-form">
          <p class="contact-form__text">Your information</p>
          <input type="text" id="name" name="name" class="contact-form__input" placeholder="Full Name" required>

          <input type="email" id="email" name="email" class="contact-form__input" placeholder="Email" required>

          <label for="subject" class="contact-form__label" aria-placeholder="Subject"></label>
          <select id="subject" name="subject" class="contact-form__select">
            <option value="product">Subject</option>
            <option value="order">Order Inquiry</option>
            <option value="other">Other</option>
          </select>

          <input type="text" id="order-number" name="order-number" class="contact-form__input"
            placeholder="Order Number">

          <input type="text" id="order-number" name="order-number" class="contact-form__input" placeholder="Message">

          <div class="contact-form__privacy">
            <input type="checkbox" id="policy" name="policy" class="contact-form__checkbox" required>
            <label for="policy" class="contact-form__checkbox-label">I Have Read And Understood The Contact Us Privacy
              And Policy.</label>
          </div>

          <button type="submit" class="contact-form__button">Send</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



      <div class="container">
        <div class="contact-options">
          <div class="contact-options__item contact-options__item--chat">
            <span class="material-symbols-outlined"> chat </span>
            <h3 class="contact-options__title">Chat With Us</h3>
            <p class="contact-options__text">We Are Here And Ready To Chat</p>
            <button class="contact-options__button">Start Chat</button>
          </div>
          <div class="contact-options__item contact-options__item--call">
            <span class="material-symbols-outlined"> contact_emergency </span>
            <h3 class="contact-options__title">Call Us</h3>
            <p class="contact-options__text">We're Here To Talk To You</p>
            <a class="contact-options__link">+1(929)460-3208</a>
          </div>
          <div class="contact-options__item contact-options__item--email">
            <span class="material-symbols-outlined"> mail </span>
            <h3 class="contact-options__title">Email Us</h3>
            <p class="contact-options__text">You Are Welcome To Send Us An Email</p>
            <button class="contact-options__button">Send Email</button>
          </div>
        </div>
      </div>
    </section>





    <div class="container contact-option">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <span class="material-symbols-outlined"> chat </span>
              <h3 class="contact-options__title">Chat With Us</h3>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="contact-options__text">We Are Here And Ready To Chat</p>
              <button class="contact-options__button">Start Chat</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="material-symbols-outlined"> contact_emergency </span>
              <h3 class="contact-options__title">Call Us</h3>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="contact-options__text">We're Here To Talk To You</p>
              <a class="contact-options__link">+1(929)460-3208</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="material-symbols-outlined"> mail </span>
              <h3 class="contact-options__title">Email Us</h3>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="contact-options__text">You Are Welcome To Send Us An Email</p>
              <button class="contact-options__button">Send Email</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  </section>