<main class="payment-failed-container">
    <img src="img/main/error.svg">
    <h1 class="payment-failed-title">Sorry, Payment Failed</h1>
    <p class="payment-failed-message">
        Unfortunately, your order cannot be completed.<br>
        Please ensure that the billing address you provided is the same one where your debit/credit card is registered.<br>
        Alternatively, please try a different payment method.
    </p>
    <div class="payment-failed-icon">
        <i class="icon-error"></i>
    </div>
    <button class="retry-payment-button"><a class="hreff" href="cart-pay.html"> Pay Now </a></button>
    <a href="index.html" class="back-to-orders-link">&lt; Back to My Orders</a>
</main>