<section class="followUs">
    <div class="container">
        <h3 class="followUstitle">Follow us @modimal</h3>

        <div class="followUsImgcnt">
            <img class="followUsImgBig" src="img/optimize/follow/left.webp" alt="">
            <img class="followUsImg" src="img/optimize/follow/bottomLeft.webp" alt="">
            <img class="followUsImg" src="img/optimize/follow/topLeft.webp" alt="">
            <img class="followUsImg" src="img/optimize/follow/bottomRight.webp" alt="">
            <img class="followUsImg" src="img/optimize/follow/topRight.webp" alt="">
        </div>
    </div>


</section>