<section class="followUs">
    <div class="container">
        <h3 class="followUstitle">Follow us @modimal</h3>

        <div class="followUsImgcnt">
            <img class="followUsImgBig" src="img/followUs/left.png" alt="">
            <img class="followUsImg" src="img/followUs/bottomLeft.png" alt="">
            <img class="followUsImg" src="img/followUs/topLeft.png" alt="">
            <img class="followUsImg" src="img/followUs/bottomRight.png" alt="">
            <img class="followUsImg" src="img/followUs/topRight.png" alt="">
        </div>
    </div>


</section>