<header class="header">
    <div class="container">
    <div class="header__row">

        <div class="header__logo">
            <a href="index.html" class="logo">
                <img src="./img/logo/Logo.svg" alt="Modimal">
            </a>
        </div>

        <nav class="header__nav nav">
            <ul class="nav__list">
                <li><a href="#" class="open-collection">Collection</a></li>
                <li><a href="#" class="open-new">New In</a></li>
                <li><a href="modiweek_product.html">Modiweek</a></li>
                <li><a href="#" class="open-plus">Plus Size</a></li>
                <li><a href="#" class="open-sust">Sustainability</a></li>
            </ul>
        </nav>

        <div class="header__account header__account--first">
            <ul class="account">
                <li class="account__search">
                    <a href="#">
                        <img class="icon icon--search" src="./img/header/Header_search_icon.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="register-page.html">
                        <img class="icon icon--person" src="./img/header/Header_profile_icon.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>

        <div class="header__account">
            <ul class="account">
                <li>
                    <a href="#">
                       <img class="icon icon--favorite" src="./img/header/Header_favorite_icon.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="icon icon--bag" src="./img/header/Header_bag_icon.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>


        <div class="header__nav-btn">
            <button class="mobile-nav-btn">
                <div class="nav-icon"></div>
            </button>
        </div>

    </div>
</div>
</header>
