<header class="header">
    <div class="container">
    <div class="header__row">

        <div class="header__logo">
            <a href="index.html" class="logo">
                <img src="./img/logo/Logo.svg" alt="Modimal">
            </a>
        </div>

        <nav class="header__nav nav">
            <ul class="nav__list">
                <li><a href="#" class="open-collection">Collection</a></li>
                <li><a href="#" class="open-new">New In</a></li>
                <li><a href="modiweek_product.html" class="modiweek">Modiweek</a></li>
                <li><a href="#" class="open-plus">Plus Size</a></li>
                <li><a href="#" class="open-sust">Sustainability</a></li>
            </ul>
        </nav>

        <div class="header__account header__account--first">

            <div class="header__nav-btn">
                <input type="checkbox" id="toggle">
                <label for="toggle">
                    <span class="toggle-btn"></span>
                </label>
                <div class="nav_menu">
                    <details>
                        <summary>
                            Collection <img src="img/header/arrow.svg" alt="arrow" class="arrow-icon">
                        </summary>
                    </details>
                    <details>
                        <summary>
                            New In <img src="img/header/arrow.svg" alt="arrow" class="arrow-icon">
                        </summary>
                        <ul>
                            <li class="firsts-a"><a href="#">Shop All</a></li>
                            <li><a href="#">Tops & Blouses</a></li>
                            <li><a href="#">Tees</a></li>
                            <li><a href="#">Pants</a></li>
                            <li><a href="#">Jackets & Outerwear</a></li>
                            <li><a href="#">Pullovers</a></li>
                            <li><a href="#">Dresses & Jumpsuits</a></li>
                            <li><a href="#">Shorts & Skirts</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>
                            Modiweek <img src="img/header/arrow.svg" alt="arrow" class="arrow-icon">
                        </summary>
                    </details>
                    <details>
                        <summary>
                            Plus Size <img src="img/header/arrow.svg" alt="arrow" class="arrow-icon">
                        </summary>
                    </details>
                    <details>
                        <summary>
                            Sustainability <img src="img/header/arrow.svg" alt="arrow" class="arrow-icon">
            
                        </summary>
                        <ul>
                            <li class="firsts-a"><a href="#">Mission</a></li>
                            <li><a href="#">Processing</a></li>
                            <li><a href="#">Materials</a></li>
                            <li><a href="#">Packaging</a></li>
                            <li><a href="#">Product Care</a></li>
                            <li><a href="#">Our Suppliers</a></li>
                        </ul>
                    </details>
                    <div class="auth-buttons">
                        <button class="login-bat"><img src="img/header/Header_profile_icon.svg" alt=""><a href="login-page.html">Log
                                In</a></button>
                        <button class="create-account"><a href="register-page.html">Create Account</a></button>
                    </div>
                </div>
            </div>
            <ul class="account">
                
                <li class="account__search">
                    <a href="#">
                        <img class="icon icon--search" src="./img/header/Header_search_icon.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="register-page.html">
                        <img class="icon icon--person" src="./img/header/Header_profile_icon.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>

        <div class="header__account">
            <ul class="account">
                <li>
                    <a href="#">
                       <img class="icon icon--favorite" src="./img/header/Header_favorite_icon.svg" alt="">
                    </a>
                </li>
                <li>
                    
                        <img class="icon icon--bag " id="myBtn" src="./img/header/Header_bag_icon.svg" alt="">
                        <div id="myModal" class="modal">

                            
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p class="tit">Your Cart</p>
                              <div class="cart-items">
                                <div class="cart-g">
                                    <div class="cart-item">
                                        <img src="img/main/Rectangle 123.svg" alt="Wrap Top" class="item-img">
                                        <div class="item-details">
                                            <div class="close-cart">
                                                <p class="wrap-top">Wrap Top</p>
                                                <button class="remove-btn">&times;</button>
                                            </div>
                                            <p class="p-top">Size: S</p>
                                            <p class="p-top">Color: White</p>
                                            <div class="cart-fl">
                                            <div class="item-quantity">
                                                <button class="decrease">-</button>
                                                <span class="quantity">1</span>
                                                <button class="increase">+</button>
                                            </div>
                                            <p class="wrap-top">160$</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-item">
                                        <img src="img/main/Rectangle 124.svg" alt="Casual Wild Leg" class="item-img">
                                        <div class="item-details">
                                            <div class="close-cart">
                                                <p class="wrap-top">Casual Wild Leg</p>
                                                <button class="remove-btn">&times;</button>
                                            </div>
                                            <p class="p-top">Size: S</p>
                                            <p class="p-top">Color: Dark Blue</p>
                                            <div class="cart-fl">
                                                <div class="item-quantity">
                                                    <button class="decrease">-</button>
                                                    <span class="quantity">1</span>
                                                    <button class="increase">+</button>
                                                </div>
                                                <p class="wrap-top">160$</p>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="cart-item">
                                        <img src="img/main/Rectangle 126.svg" alt="Essential Dress" class="item-img">
                                        <div class="item-details">
                                            <div class="close-cart">
                                                <p class="wrap-top">Essential Dress</p>
                                                <button class="remove-btn">&times;</button>
                                            </div>
                                            <p class="p-top">Size: 2X</p>
                                            <p class="p-top">Color: Black</p>
                                            <div class="cart-fl">
                                                <div class="item-quantity">
                                                    <button class="decrease">-</button>
                                                    <span class="quantity">1</span>
                                                    <button class="increase">+</button>
                                                </div>
                                                <p class="wrap-top">160$</p>
                                                </div>
                                        </div>
            
                                    </div>
                                    
                                    <button  class="cart-btn">
                                        <a href="cart.html">
                                        Check Out
                                        </a>
                                    </button>
                                </div>
                                
                            </div>
                            </div>
                          
                          </div>
                    
                </li>
            </ul>
        </div>


        

</div>
</header>
