<section class="logIn">
    <div class="container">
        <div class="logIn__wrap">
            <img class="register__img" src="./img/register/Frame 26086866.png">
            <div class="logIn__logIn">
                <h2 class="logIn__title">Log In</h2>
                <div class="logIn__list">

                    <label class="logIn__label">
                        <input class="logIn__input" type="email" name="email" placeholder="Email" required>
                    </label>
                    <label class="logIn__label">
                        <input class="logIn__input" type="password" name="password" placeholder="Password" required>
                    </label>
                </div>
                <h3 class="logIn__fp"><a href="https://www.youtube.com/watch?v=-XbOYG2jQOY" class="logIn__fp-link">Your
                        Password?</a></h3>
                <button class="logIn__btn">Log In</button>
                <h6 class="logIn__or">Or</h6>
                <ul class="logIn__social_ways">
                    <li class="logIn__social_icons"><a class="logIn__social_link" href="#"><span
                                class="icon-SocialMedia-Sign-Up-Icons1"><span class="path1"></span><span
                                    class="path2"></span></span></a></li>
                    <li class="logIn__social_icons"><a class="logIn__social_link" href="#"><span
                                class="icon-SocialMedia-Sign-Up-Icons2"><span class="path1"></span><span
                                    class="path2"></span><span class="path3"></span><span class="path4"></span><span
                                    class="path5"></span></span></span></a></li>
                    <li class="logIn__social_icons"><a class="logIn__social_link" href="#"><span
                                class="icon-SocialMedia-Sign-Up-Icons"><span class="path1"></span><span
                                    class="path2"></span></span></a></li>
                </ul>
                <h6 class="logIn__NTD">New To Modimal? <a class="logIn__NTD-link" href="./register-page">Create An
                        Account</a></h6>
                </ul>
            </div>
        </div>
    </div>
</section>