<main class="main">
  <!-- Best Sellers Section -->
  <section class="best-sellers">
    <div class="bestsellers">
      <h2 class="best-sellers__title">Best Sellers</h2>
      <p class="best-sellers_text">View all</p>
    </div>
    <div class="best-sellers__grid">
      <div class="product-card product-card--featured">
        <img class="product-card__image" src="img/main/12341.svg" alt="Tailored Stretch">
        <div class="flex">
          <div class="flex-element">
            <h3 class="product-card__name">Tailored Stretch</h3>
            <p class="product-card-description">Turn It Up Pants</p>
            <div class="circle-flex">
              <div class="circle-one"></div>
              <div class="circle-two"></div>
              <div class="circle-three"></div>
            </div>
          </div>
          <p class="product-card__price">$180</p>
        </div>
      </div>
      <div class="product-card">
        <img class="product-card__image" src="img/main/12343.svg" alt="Technical Silk">
        <div class="flex">
          <div class="flex-element">
            <h3 class="product-card__name">Technical Silk</h3>
            <p class="product-card-description">Make A Splash</p>
            <div class="circle-flex">
              <div class="circle-four"></div>
              <div class="circle-five"></div>
              <div class="circle-six"></div>
            </div>
          </div>
            <p class="product-card__price">$120</p>
        </div>
      </div>
      <div class="product-card">
        <img class="product-card__image" src="img/main/12344.svg" alt="Cool Weave">
        <div class="flex">
          <div class="flex-element">
            <h3 class="product-card__name">Cool Weave</h3>
            <p class="product-card-description">Anywhere Dress</p>
            <div class="circle-flex">
              <div class="circle-seven"></div>
              <div class="circle-eight"></div>
              <div class="circle-nine"></div>
            </div>          
          </div>  
            <p class="product-card__price">$210</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Collection Section -->
  <h2 class="collection__title">Collection</h2>
  <section class="collection">
    <div class="collection__grid">
      <div class="collection__item">
        <img class="collection__image" src="img/main/pic4.svg" alt="Necklace">
        <p class="collection__name">Boluses</p>
      </div>
      <div class="collection__item">
        <img class="collection__image-two" src="img/main/pic2.svg" alt="Pants">
        <p class="collection__name">Pants</p>
      </div>
    </div>
    <div class="collection__grid">
      <div class="collection__item">
        <img class="collection__image" src="img/main/pic3.svg" alt="Dress">
        <p class="collection__name">Dress</p>
      </div>
      <div class="collection__item">
        <img class="collection__image-four" src="img/main/pic1.svg" alt="Outwear">
        <p class="collection__name">Outwear</p>
      </div>
    </div>
  </section>
</main>