<section class="modiweek">
    <div class="swiper-container container">
        <p class="p-modi">Modiweek</p>
<!-- Slider main container -->
<div class="swiper mySwiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper swiper1">
        <!-- Slides -->
        <div class="swiper-slide"><img class="photo-slider" src="img/main/Rectangle 12339.svg"><p class="p-slider">Sunday</p></div>
        <div class="swiper-slide"><img class="photo-slider" src="img/main/Rectangle 12346.svg"><p class="p-slider">Monday</p></div>
        <div class="swiper-slide"><img class="photo-slider" src="img/main/Rectangle 12347.svg"><p class="p-slider">Tuesday</p></div>
        <div class="swiper-slide"><img class="photo-slider" src="img/main/Rectangle 12349.svg"><p class="p-slider">Wednesday</p></div>
        <div class="swiper-slide"><img class="photo-slider" src="img/main/girl.svg"><p class="p-slider">Thursday</p></div>
        <div class="swiper-slide"><img class="photo-slider" src="img/main/Rectangle 12346.svg"><p class="p-slider">Friday</p></div>
        <div class="swiper-slide"><img class="photo-slider" src="img/main/Rectangle 12347.svg"><p class="p-slider">Saturday</p></div>
    </div>
   
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
</div>
</section>