<section class="modiweek">
    <div class="swiper-container container">
        <p class="p-modi">Modiweek</p>
  
        <div class="swiper mySwiper">

            <div class="swiper-wrapper swiper1">
                <div class="swiper-slide"><img class="photo-slider" src="img/optimize/modiweek/Rectangle 12339.webp">
                    <p class="p-slider">Sunday</p>
                </div>
                <div class="swiper-slide"><img class="photo-slider" src="img/optimize/modiweek/Rectangle 12346.webp">
                    <p class="p-slider">Monday</p>
                </div>
                <div class="swiper-slide"><img class="photo-slider" src="img/optimize/modiweek/Rectangle 12347.webp">
                    <p class="p-slider">Tuesday</p>
                </div>
                <div class="swiper-slide"><img class="photo-slider" src="img/optimize/modiweek/Rectangle 12349.webp">
                    <p class="p-slider">Wednesday</p>
                </div>
                <div class="swiper-slide"><img class="photo-slider" src="img/optimize/modiweek/girl.webp">
                    <p class="p-slider">Thursday</p>
                </div>
                <div class="swiper-slide"><img class="photo-slider" src="img/optimize/modiweek/Rectangle 12346.webp">
                    <p class="p-slider">Friday</p>
                </div>
                <div class="swiper-slide"><img class="photo-slider" src="img/optimize/modiweek/Rectangle 12347.webp">
                    <p class="p-slider">Saturday</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>