<section class="new-in-menu ">
    <div class="container">

        <div class="new-in-menu_wrap">
            <div class="new-in category">
                <p class="new-in-title">Category</p>
                <ul class="category-list">
                    <li class="category-item"><a href="#" class="new-in-link category-link">Shop All</a>
                    </li>
                    <li class="category-item"><a href="#" class="new-in-link category-link">Tops &
                            Blouses</a></li>
                    <li class="category-item"><a href="#" class="new-in-link category-link">Tees</a>
                    </li>
                    <li class="category-item"><a href="#" class="new-in-link category-link">Pants</a></li>
                    <li class="category-item"><a href="#" class="new-in-link category-link">Jackets &
                            Outwears</a></li>
                    <li class="category-item"><a href="#" class="new-in-link category-link">Pullovers</a></li>
                    <li class="category-item"><a href="#" class="new-in-link category-link">Dresses & Jumpsuits</a>
                    </li>
                    <li class="category-item"><a href="#" class="new-in-link category-link">Shorts &
                            Skirts</a></li>
                </ul>
            </div>

            <div class="new-in trending">
                <p class="new-in-title">Trending </p>
                <ul class="featured-list">
                    <li class="trending-item"><a href="#" class="new-in-link trending-link">Plus Size</a>
                    </li>
                    <li class="trending-item"><a href="#" class="new-in-link trending-link">Fall Collection</a>
                    </li>
                    <li class="trending-item"><a href="#" class="new-in-link trending-link">Modiweek</a></li>
                </ul>
            </div>

            <div class="new-in-menu_wrap">
                <figure class="figure">
                    <img class="new-in-menu-img new-in-menu-img_women-one" src="img/modals/fall.png"
                        alt="photo">
                    <figcaption>
                        <p class="sub-text">Fall Collection</p>
                    </figcaption>
                </figure>
                <figure class="figure">
                    <img class="new-in-menu-img new-in-menu-img_women-two" src="img/modals/bolouses.png"
                        alt="photo">
                    <figcaption>
                        <p class="sub-text">Boluses</p>
                    </figcaption>
                </figure>
                <figure class="figure">
                    <img class="new-in-menu-img new-in-menu-img_women-two" src="img/modals/dres.png" alt="photo">
                    <figcaption>
                        <p class="sub-text">Dresses</p>
                    </figcaption>
                </figure>
            </div>
        </div>

    </div>
</section>