<section class="plus-menu ">
<div class="container">

    <div class="plus-menu_wrap">
        <div class="plus category">
            <p class="plus-title">Category</p>
            <ul class="category-list">
                <li class="category-item"><a href="#" class="plus-link category-link">Shop All</a>
                </li>
                <li class="category-item"><a href="#" class="plus-link category-link">Tops &
                        Blouses</a></li>
                <li class="category-item"><a href="#" class="plus-link category-link">Tees</a>
                </li>
                <li class="category-item"><a href="#" class="plus-link category-link">Pants
                    </a></li>
                <li class="category-item"><a href="#" class="plus-link category-link">Jackets &
                        Outwear</a></li>
                <li class="category-item"><a href="#" class="plus-link category-link">Pullovers</a></li>
                <li class="category-item"><a href="#" class="plus-link category-link">Dresses & 
                    jumpsuits</a>
                </li>
                <li class="category-item"><a href="#" class="plus-link category-link">Shorts &
                        Skirts</a></li>
            </ul>
        </div>

        <div class="plus-menu_wrap">
            <figure class="figure">
                <img class="plus-menu-img plus-menu-img_pants" src="img/modals/pants.png"
                    alt="photo">
                <figcaption>
                    <p class="sub-text">Pants</p>
                </figcaption>
            </figure>
            <figure class="figure">
                <img class="plus-menu-img plus-menu-img_dress" src="img/modals/dress.png"
                    alt="photo">
                <figcaption>
                    <p class="sub-text">Dresses</p>
                </figcaption>
            </figure>
            <figure class="figure">
                <img class="plus-menu-img plus-menu-img_blouse" src="img/modals/blouse.png"
                 alt="photo">
                <figcaption>
                    <p class="sub-text">Blouses</p>
                </figcaption>
            </figure>
        </div>
    </div>

</div>
</section>