<section class="register">
        <div class="container">
            <div class="register__wrap">
                <div class="register__img"></div>
                <div class="register__account">
                    <h2 class="register__title">Create Account</h2>
                    <div class="list">
                    <label class="register__label">
                        <input class="register__input" type="name" name="fisrt_name" placeholder="First Name" required>
                    </label>
                    <label class="register__label">
                        <input class="register__input" type="name" name="last_name" placeholder="Last Name" required>
                    </label>
                    <label class="register__label">
                        <input class="register__input" type="email" name="email" placeholder="Email" required>
                    </label>
                    <label class="register__label">
                        <input class="register__input" type="password" name="password" placeholder="Password" required>
                    </label>
                    
                </div>
                    <ul class="register__log_in_ways">
                        <ul class="register__log_in">
                            <li class="register__under_btn">
                                <h6 class="register__beneath_text">Already Have An Account?</h6>
                            </li>
                            <li class="register__under_btn">
                                <h6 class="register__beneath_text"><a href="./login-page.html" class="log_in">Log In</a></h6>
                            </li>
                        </ul>
                        <h6 class="or">Or</h6>
                        <ul class="register__social_ways">
                            <li class="register__social_icons"><a class="register__social_link" href="#"><span class="icon-SocialMedia-Sign-Up-Icons1"><span class="path1"></span><span class="path2"></span></span></a></li>
                            <li class="register__social_icons"><a class="register__social_link" href="#"><span class="icon-SocialMedia-Sign-Up-Icons2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span></span></a></li>
                            <li class="register__social_icons"><a class="register__social_link" href="#"><span class="icon-SocialMedia-Sign-Up-Icons"><span class="path1"></span><span class="path2"></span></span></a></li>
                        </ul>
                        <button class="register__btn">Register Now</button>
                        <h6 class="register__TCPP">By Clicking Register Now’’you Agree To <a class="register__TCPP_link" href="#">Terms & Conditions</a> And <a class="register__TCPP_link" href="#">Privacy Policy</a>.</h6>
                    </ul>
                </div>
            </div>
        </div>
    </section>
