<div class="checkout-container cart-container cart-itemss">
    <div class="container">
        <div class="conn" id="conn">
    <!-- Shipping Section -->
    <div class="shipping">
        <nav class="breadcrumb">
            <a href="#">Cart</a> / <span>Info</span> / <a class="info-black" href="#">Shipping</a> /
            <span>Payment</span>
        </nav>
        <div>
            <div class="flex-chan flex-chan-one">
                <p class="info-black">Contact</p>
                <p class="p-top">Change</p>
            </div>
            <div class="flex-chan">
                <p class="info-black">Ship To</p>
                <p class="p-top">Change</p>
            </div>
        </div>
        <div class="delivery-options">
            <p class="deliv">Delivery Options</p>
            <div class="inp-flex">
                <div>
                    <p class="check-mark">Express Courier (Air)</p>
                    <p  class="delivery-inp">3 to 4 Business Days</p>
                </div>
                <p class="delivv">Free</p>
            </div>
            <div class="inp-flex in-fl">
                <p class="check-mark">Express Date</p>
                <div class="inp-flex flex-in">
                <div>
                    <label class="delivery-inp">
                        <input type="radio" name="delivery-date" value="August 14">
                        <p class="delivery-date"> Monday, August 14 </p>
                    </label>
                    <label class="delivery-inp">
                        <input type="radio" name="delivery-date" value="August 16">
                        <p class="delivery-date"> Tuesday, August 22 </p>
                    </label>
                </div>
                <div>
                    <label class="delivery-inp">
                        <input type="radio" name="delivery-date" value="August 22">
                        <p class="delivery-date"> Wednesday, August 16 </p>
                    </label>
                    <label class="delivery-inp">
                        <input type="radio" name="delivery-date" value="August 25">
                        <p class="delivery-date"> Friday, August 25 </p>
                    </label>
                </div>
            </div>
            </div>
            <div class="display-del">
                <div>
            <p class="check-mark">Guaranteed Delivery</p>
            <p class="p-top">UPS Next Day Air Saver</p>
                </div>
                <div class="flll">
                <div>
            <label class="justify-del">
                <input type="radio" name="guaranteed-delivery" value="August 11, 8 PM">
                Wednesday, August 11th by 8 PM  
            </label>
            <label class="justify-del">
                <input type="radio" name="guaranteed-delivery" value="August 11, Noon">
                Wednesday, August 11th by Noon 
            </label>
            </div>
            <div>
                <p class="delivv">$24.00</p>
                <p class="delivv">$24.00</p>
            </div>
            </div>
            </div>

            <div class="checkout-buttons">
                <button class="back-button"><span class="linee material-symbols-outlined">
                    arrow_back_ios
                    </span><a class="back-button" href="cart-info.html" >Return To Information</a></button>
                <button class="continue-button conttt"><a class="hreff" href="cart-pay.html" >Continue To Payment</a></button>
            </div>
        </div>
    </div>

    <!-- Right Column: Order Summary -->
    <div class="order-summary summm">
        <h2 class="cart-tit">Your Cart</h2>

        <div class="cart-item">
            <img src="img/main/Rectangle 123.svg" alt="Wrap Top" class="cart-item-img">
            <div class="cart-item-details">
                <div class="close-cart">
                    <p class="wrap-top">Wrap Top</p>
                    <button class="remove-btn">&times;</button>
                </div>
                <p class="p-top">Size: S</p>
                <p class="p-top">Color: White</p>
                <div class="flex-quan">
                    <div class="item-quantity">
                        <button class="decrease">-</button>
                        <span class="quantity">1</span>
                        <button class="increase">+</button>
                    </div>
                    <p class="price-card">160$</p>
                </div>
            </div>
        </div>

        <div class="cart-item">
            <img src="img/main/Rectangle 124.svg" alt="Casual Wild Leg" class="cart-item-img">
            <div class="cart-item-details">
                <div class="close-cart">
                    <p class="wrap-top">Casual Wild Leg</p>
                    <button class="remove-btn">&times;</button>
                </div>
                <p class="p-top">Size: S</p>
                <p class="p-top">Color: Dark Blue</p>
                <div class="flex-quan">
                    <div class="item-quantity">
                        <button class="decrease">-</button>
                        <span class="quantity">1</span>
                        <button class="increase">+</button>
                    </div>
                    <p class="price-card">160$</p>
                </div>
            </div>
        </div>


        <div class="cart-item">
            <img src="img/main/Rectangle 12.svg" alt="Essential Dress" class="cart-item-img">
            <div class="cart-item-details">
                <div class="close-cart">
                    <p class="wrap-top">Essential Dress</p>
                    <button class="remove-btn">&times;</button>
                </div>
                <p class="p-top">Size: 2X</p>
                <p class="p-top">Color: Black</p>
                <div class="flex-quan">
                    <div class="item-quantity">
                        <button class="decrease">-</button>
                        <span class="quantity">1</span>
                        <button class="increase">+</button>
                    </div>
                    <p class="price-card">160$</p>
                </div>
            </div>
        </div>

        <div class="cart-summary">
            <div>
                <p>Subtotal (3): </p>
                <p>$485.00</p>
            </div>
            <div>
                <p>Tax: </p>
                <p>$38.80</p>
            </div>
            <div>
                <p>Shipping: </p>
                <p>Free</p>
            </div>
            <div>
                <p>Total Orders: </p>
                <p>$523.80</p>
            </div>
            <p class="disclaimer">
                The total amount you pay includes all applicable customs duties & taxes. We guarantee no additional
                charges on delivery.
            </p>
        </div>
    </div>
    </div>
    </div>
</div>