<section class="sust-menu ">
    <div class="container">

        <div class="sust-menu_wrap">
            <div class="sust category">
                <p class="sust-title">Sustainability</p>
                <ul class="sust-list">
                    <li class="sust-item"><a href="#" class="sust-link ">Mission</a>
                    </li>
                    <li class="sust-item"><a href="#" class="sust-link ">Processing</a></li>
                    <li class="sust-item"><a href="#" class="sust-link ">Materials</a>
                    </li>
                    <li class="sust-item"><a href="#" class="sust-link ">Packaging
                        </a></li>
                    <li class="sust-item"><a href="#" class="sust-link ">Product Care</a></li>
                    <li class="sust-item"><a href="#" class="sust-link ">Our Suppliers</a>
                    </li>
                </ul>
            </div>

            <div class="sust-menu_wrap">
                <figure class="figure">
                    <img class="sust-menu-img plus-menu-img_women" src="img/modals/women.png" alt="photo">
                </figure>
                <figure class="figure">
                    <img class="sust-menu-img plus-menu-img_textile" src="img/modals/textile.png" alt="photo">
                </figure>
                
            </div>
        </div>

    </div>
</section>