.shop-modiweek {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 70px;
    
    .container {
        display: flex;
        justify-content: space-between;
    }

    .title {
        margin-top: 40px;
        font-weight: 600;
        font-size: 32px;
    }

    .image {
        width: 496px;
        height: 746px;
    }

    .right-section {
        width: 598px;
    }

    .content-title {
        color: #0C0C0C;
        font-weight: 700;
        font-size: 20px;
        margin-top: 174px;
    }

    .content-text {
        font-weight: 400;
        font-size: 16px;
    }

    .item-list {
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .item-img {
        width: 287px;
    }

    .item-figcaption {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        margin-left: 6px;
    }

    .item {
        position: relative;
    }

    .new-badge {
        position: absolute;
        margin: 23.4px 0 0 23.4px;
        padding-bottom: 0;
        background-color: white;
        border: none;
        width: 83.88px;
        height: 31.21px;
    }

    .new-badge-text {
        margin: 2.7px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .figcaption-title {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 13px;
    }

    .figcaption-text {
        margin-top: 6px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 12px;
    }

    .color-wrapper {
        display: flex;
        gap: 6px;
    }

    .color {
        margin-top: 6px;
        background-color: black;
        width: 17.63px;
        height: 17.63px;
        border-radius: 50%;
    }

    .color-green {
        background-color: #748C70;
    }

    .cost {
        margin-top: 100%;
        font-weight: 700;
        font-size: 11.7px;
    }
}
@media (max-width: 1199px) {
       .shop-modiweek{
        .container{
            display: flex;
            flex-wrap: wrap;
        }
       }
       .left-section{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

        .title{
            text-align: center;
        }
       }
       .right-section{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

       }

	}
  @media (max-width: 768px) {
    .left-section{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

        .title{
            text-align: start;
        }
       }
    .left-section{
        width: 100%;
    .image{
        width: 100%;
    }
    }
    .item-list{
        .item{
            max-width: 220px !important;
            .item-img{
                width: 100%;
            }
        }
    }
 }

   @media (max-width: 575px) {
    .left-section{
        width: 100%;
    .image{
        width: 100%;
        height: 670px;
    }
    }
    .item-list{
        gap: 5px;
        .item{
            max-width: 200px !important;
            .item-img{
                width: 100%;
            }
        }
    }
 }
 
