<section class="accordion-order">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="or">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Fitting
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <p class="accordion__text">Details about the product go here.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Fabric & Care
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <p class="accordion__text">
                                    Fabric :
                                    Tailored Stretch,
                                    Made in Italy62% Nylon, 38% Elastane, 100% vegan materials
                                    Care:
                                    Cold machine wash, line dry
                                    Do not tumble dry or dry clean, Do not use bleach or fabric softener
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Product Detail
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <p class="accordion__text">Details about the product go here.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                Shipping And Return
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <p class="accordion__text">
                                    Shipping:
                                    is free on US, Canada orders are $175
                                    Returns:
                                    Unwashed, unworn items are eligible for returns or exchanges within 30 days of
                                    purchase.
                                    Final Sale items are not eligible for returns or exchanges.
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="silk">
                <div class="custom-card">
                    <div class="material-title">Silk</div>
                    <p>This Material Is Our Signature High-Stretch Fabric That Drapes Like Silk And Is Soft To The
                        Touch. Silk Is OEKO-TEX® Certified And Made In Italy In A Mill 100% Powered By Renewable
                        Energy (Solar And Biomass).</p>
                    <div class="tags">
                        <div class="tag">Quick Dry</div>
                        <div class="tag">Chemical Free</div>
                        <div class="tag">Machine Washable</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>