<section class="order-like my-5">
    <div class="container">
    <h2 class="order-title">You May Also Like</h2>
    <div class="order-grid">
        <div class="order__grid-item">
            <div class="order-image__wrapper">
                <img src="img/product/shop-all/shop-all-item3.png" alt="Shirt Dress" class="order-imag">
            </div>
            <p class="like-name">Shirt Dress</p>
            <div class="like-price">
            <p class="like-description">Turn It Up Dress</p>
            <p class="like-price">$245</p>
        </div>
        <div class="buttons-card">
            <button class="black-card"> </button>
            <button class="lblue-card"> </button>
            <button class="green-card"> </button>
        </div>
        </div>

        <div class="order__grid-item">
            <div class="order-image__wrapper">
                <img src="img/product/shop-all/shop-all-item7.png" alt="Chill Wrap Top" class="order-imag">
            </div>
            <p class="like-name">Chill Wrap Top</p>
            <div class="like-price">
            <p class="like-description">Turn It Up Top</p>
            <p class="like-price">$199</p>
            </div>
            <div class="buttons-card">
                <button class="yellow-card"> </button>
            </div>
        </div>

        <div class="order__grid-item">
            <div class="order-image__wrapper">
                <img src="img/product/shop-all/shop-all-item4.png" alt="Rule Zip Jacket" class="order-imag">
            </div>
            <p class="like-name">Rule Zip Jacket</p>
            <div class="like-price">
            <p class="like-description">Turn It Up Jacket</p>
                <p class="product-price">$199</p>
            </div>
            <div class="buttons-card">
                <button class="yellow-card"> </button>
                <button class="orange-card"> </button>
            </div>
        </div>
    </div>
    </div>
</section>