<section class="shop-modiweek">
    <div class="container">
    <div class="patch-title">
        <p class="home">Home</p>
        <p>/</p>
        <p>Modiweek</p>
    </div>
    </div>
    <div class="container">
        <div class="left-section">
            <h3 class="title">Saturday</h3>
            <img class="image" src="img/product/modi/saturday.png" alt="">
        </div>

        <div class="right-section">
            <h5 class="content-title">Shop the look</h5>
            <p class="content-text">2 Items</p>

            <ul class="item-list">
                <li class="item">
                    <div class="heart"></div>
                    <img class="item-img" src="img/product/modi/fabric_tranch.png" alt="Outfit for Sunday">
                    <figcaption class="item-figcaption">
                        <div class="figcaption-details">
                            <h6 class="figcaption-title">FABRIC TRENCH</h6>
                            <p class="figcaption-text">Jacket</p>
                            <div class="color"></div>
                        </div>
                        <div class="figcaption-price">
                            <h6 class="cost">$140</h6>
                        </div>
                    </figcaption>
                </li>
                <li class="item">
                    <div class="new-badge">
                        <p class="new-badge-text">New</p>
                    </div>
                    <div class="heart"></div>
                    <img class="item-img" src="img/product/modi/structured_corset.png" alt="Outfit for Sunday">
                    <figcaption class="item-figcaption">
                        <div class="figcaption-details">
                            <h6 class="figcaption-title">STRUCTURED CORSET</h6>
                            <p class="figcaption-text">Dress</p>
                            <div class="color-wrapper">
                                <div class="color"></div>
                                <div class="color color-green"></div>
                            </div>
                        </div>
                        <div class="figcaption-price">
                            <h6 class="cost">$140</h6>
                        </div>
                    </figcaption>
                </li>
            </ul>
        </div>

    </div>
</section>