<section class="bag-shop-all">
    <div class="container">
    <div class="patch-title">
        <p class="home">Home</p>
        <p>/</p>
        <p>Shop-All</p>
    </div>
    </div>
    <div class="bag">
        <img class="shop-all_photo" src="img/product/shop-all/shop-all-bg.png" alt="">
    </div>
</section>
<section class="shop-all">
    <div class="container">
        <div class="filter-mob__button">
            <img src="img/product/shop-all/filter.svg" alt="">
            <p class="filter__text">Filter</p>
        </div>
        <div class="row mt-4">
    <div class="col-lg-3">
        <div class="accordion-title">Filters</div>
        <div class="action-buttons">
            <button class="btn-clear">Clear All Filters</button>
            <button class="btn-apply">Applied Filters</button>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Sort By
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" id="featured" value="featured">
                            <label class="form-check-label" for="featured">Featured</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" id="bestSeller" value="bestSeller">
                            <label class="form-check-label" for="bestSeller">Best Seller</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" id="lowToHigh" value="lowToHigh">
                            <label class="form-check-label" for="lowToHigh">Price: Low To High</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" id="highToLow" value="highToLow">
                            <label class="form-check-label" for="highToLow">Price: High To Low</label>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Size
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" id="sizeXS" value="XS">
                                <label class="form-check-label" for="sizeXS">XS / US (0-4)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" id="sizeS" value="S">
                                <label class="form-check-label" for="sizeS">S / US (4-6)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" id="sizeM" value="M">
                                <label class="form-check-label" for="sizeM">M / US (6-10)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" id="sizeL" value="L">
                                <label class="form-check-label" for="sizeL">L / US (10-14)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" id="sizeXL" value="XL">
                                <label class="form-check-label" for="sizeXL">XL / US (12-16)</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Color
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <form><div class="form-check">
                            <input class="form-check-input" type="radio" name="color" id="colorBlack" value="Black">
                            <label class="form-check-label" for="colorBlack"><button class="black"></button>Black</label>
                        </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" id="colorRed" value="Red">
                                <label class="form-check-label" for="colorRed"><button class="red"></button>Red</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" id="colorGreen" value="Green">
                                <label class="form-check-label" for="colorGreeb"><button class="green"></button>Green</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" id="colorYellow" value="Yellow">
                                <label class="form-check-label" for="colorYellow"><button class="yellow"></button>Yellow</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" id="colorBlue" value="Blue">
                                <label class="form-check-label" for="colorBlue"><button class="blue"></button>Dark Blue</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" id="colorPurple" value="Purple">
                                <label class="form-check-label" for="colorPurple"><button class="purple"></button>Purple</label>
                            </div>
                            <div class="form-check">
                            <input class="form-check-input" type="radio" name="color" id="colorPink" value="Pink">
                            <label class="form-check-label" for="colorPink"><button class="pink"></button>Pink</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" id="colorlBlue" value="LBlue">
                                <label class="form-check-label" for="colorlBlue"><button class="lblue"></button>Light Blue</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" id="colorOrange" value="Orange">
                                <label class="form-check-label" for="colorOrange"><button class="orange"></button>Orange</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" id="colorWhite" value="White">
                                <label class="form-check-label" for="colorWhite"><button class="white"></button>White</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapsefoure" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapsefoure">
                        Collection
                    </button>
                </h2>
                <div id="panelsStayOpen-collapsefoure" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="collection" id="stok" value="stok">
                                <label class="form-check-label" for="stok">In Stock</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="collection" id="outstok" value="outstok">
                                <label class="form-check-label" for="outstok">Out Of Stock</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapsefive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapsefive">
                        Fabric
                    </button>
                </h2>
                <div id="panelsStayOpen-collapsefive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="fabric" id="cotton" value="Cotton">
                                <label class="form-check-label" for="cotton">Cotton</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="fabric" id="linen" value="Linen">
                                <label class="form-check-label" for="linen">Linen</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="fabric" id="silk" value="Silk">
                                <label class="form-check-label" for="silk">Silk</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="fabric" id="wool" value="Wool">
                                <label class="form-check-label" for="wool">Wool</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="fabric" id="cashmere" value="cashmere">
                                <label class="form-check-label" for="cashmere">Cashmere</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="col-lg-9">
                <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4">

                    <div class="col product-card">
                        <a href="product_order.html" class="shop-all__link">
                        <div class="card h-100">
                            <img src="img/product/shop-all/shop-all-item1.png" class="card-img-top" alt="Chill Wrap Top">
                            <div class="card-body">
                                <h5 class="card-title">Chill Wrap Top</h5>
                                <div class="texts">
                                <p class="card-text">Turn It Up Top</p>
                                <p class="card-price">$160</p>
                                </div>
                                <div class="buttons-card">
                                    <button class="yellow-card"> </button>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>


                    <div class="col product-card">
                        <div class="card h-100">
                            <img src="img/product/shop-all/shop-all-item2.png" class="card-img-top" alt="Essential T-Shirt">
                            <div class="card-body">
                                <h5 class="card-title">Essential T-Shirt</h5>
                                <div class="texts">
                                <p class="card-text">Turn It Up T-Shirt</p>
                                <p class="card-price">$95</p>
                                </div>
                                <div class="buttons-card">
                                <button class="black-card"> </button>
                                <button class="lblue-card"> </button>
                                <button class="green-card"> </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col product-card">
                        <div class="card h-100">
                            <img src="img/product/shop-all/shop-all-item3.png" class="card-img-top" alt="Shirt Dress">
                            <div class="card-body">
                                <h5 class="card-title">Shirt Dress</h5>
                                <div class="texts">
                                <p class="card-text">Turn It Up Dress</p>
                                <p class="card-price">$245</p>
                                </div>
                                <div class="buttons-card">
                                <button class="black-card"> </button>
                                <button class="lblue-card"> </button>
                                <button class="green-card"> </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col product-card">
                        <div class="card h-100">
                            <img src="img/product/shop-all/shop-all-item4.png" class="card-img-top" alt="Rule Zip Jacket">
                            <div class="card-body">
                                <h5 class="card-title">Rule Zip Jacket</h5>
                                <div class="texts">
                                <p class="card-text">Turn It Up Jacket</p>
                                <p class="card-price">$199</p>
                                </div>
                                <div class="buttons-card">
                                <button class="yellow-card"> </button>
                                <button class="orange-card"> </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col product-card">
                        <div class="card h-100">
                            <img src="img/product/shop-all/shop-all-item5.png" class="card-img-top" alt="New Age Linen">
                            <div class="card-body">
                                <h5 class="card-title">New Age Linen</h5>
                                <div class="texts">
                                <p class="card-text">Turn It Up Pants</p>
                                <p class="card-price">$180</p>
                                </div>
                                <div class="buttons-card">
                                <button class="black-card"> </button>
                                <button class="blue-card"> </button>
                                <button class="green-card"> </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col product-card">
                        <div class="card h-100">
                            <img src="img/product/shop-all/shop-all-item6.png" class="card-img-top" alt="Boss Pullover">
                            <div class="card-body">
                                <h5 class="card-title">Boss Pullover</h5>
                                <div class="texts">
                                <p class="card-text">Turn It Up Pullover</p>
                                <p class="card-price">$280</p>
                                </div>
                                <div class="buttons-card">
                                <button class="black-card"> </button>
                                <button class="green-card"> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-grid mt-4 load-more">
                    <button class="btn btn-outline-secondary">Load More</button>
                </div>
            </div>
        </div>
    </div>
</section>